h1 {
    font-family: 'Sofadi One', sans-serif;
    /* margin: 20px; */
    text-align: center;
    font-style: italic;
    color: white;
}

body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.Links {
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration-color: red;
}

.Imagem {
    text-align: center;
}

.Vídeo{
    text-align: center;
}

.Texto {
    text-align: justify; 
    margin: 20px;
}

.banner {
    position: relative;
    width: 100%;
    max-width: 800px; 
    margin: 20px auto; 
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.banner img {
    width: 100%;
    display: none; 
}

.banner img.active {
    display: block; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.quiz-container {
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}
.question {
    margin-bottom: 20px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}
